.box#guides_index
  .cell{:align => 'left'}
    -if user_signed_in? && current_user.can_manage_site?
      .pull-right
        = link_to '创建新教程', new_from_home_guides_path, :class => 'btn btn-success btn-sm btn-new-topic'
    .welcome
      = "学习系统最新更新"

  - @guides.each do |guide|
    = render "guides/profile_guide", :guide_user => guide.user, :guide_node => guide.category, :guide => guide, :guide_articles => guide.articles
  .inner
    &nbsp;
    %span.chevron »
    = link_to '更多新教程', guides_path , :class => :rabel
