<h1>Listing categories</h1>

<% @categories.each do |category| %>
  <div class="category float-left">
    <%= link_to category.title, category %> | 
    <% if can? :update,@categories %>
      <p><%= link_to 'Edit', edit_category_path(category) %> | 
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>

<br />

<% if can? :update,@categories %>
  <%= link_to 'New Category', new_category_path %>
<% end %>
