.cell
  %table{:cellpadding => 5, :cellspacing => 0, :border => 0}
    %tr
      %td{:width => 80, :align => :right}
        = link_to guide.category.title, guide.catetory
      %td{:align => :left}
        = link_to guide.title, topic
