.box
  .cell
    = build_navigation([@title])
    - if user_signed_in? && current_user.can_manage_site?
      .pull-right
        = link_to '创建新教程', new_from_home_guides_path, :class => 'btn btn-success btn-sm btn-new-topic'
.clearfix
  = render @guides
  .inner{:align => :center}
    = paginate @guides
